Repository yanglet/Cryptocurrency_Simulator, pull requests merged in 2022-07, with the labels that each got.

#56 [FE] 커뮤니티 게시글 글쓰기 기능 구현
  frontend/components/Post/CreatePost.js
  frontend/components/Post/DetailPost.js
  frontend/components/Post/PostButton.js
  frontend/components/Post/index.js
  frontend/components/User/SignUpForm.js
  frontend/pages/community.js
  frontend/pages/community/[[...params]].js
  frontend/pages/createPost.js
  frontend/reducers/post.js
  frontend/services/post.service.js
Labels: ✨Frontend, 🔨fix, ⚡️feature

#57 fix: findByIdFetch 쿼리 수정
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepositoryImpl.java
Labels: 📱Backend, 🔨fix

#58 fix: lazyinitializationexception 해결
  backend/module-domain/src/main/java/com/project/cs/comment/response/CommentDto.java
  backend/module-domain/src/main/java/com/project/cs/member/response/SimpleMemberDto.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepositoryImpl.java
Labels: 📱Backend, 🔨fix

#59 [FE] 커뮤니티 게시글 상세 조회, 게시글 작성
  .DS_Store
  frontend/components/Post/CommentForm.js
  frontend/components/Post/DetailPost.js
  frontend/pages/community/[[...params]].js
  frontend/services/post.service.js
Labels: ✨Frontend, ⚡️feature

#61 [FE] 커뮤니티 게시글 수정,삭제 기능 구현
  frontend/components/Post/CreatePost.js
  frontend/components/Post/DetailPost.js
  frontend/pages/editPost/[[...params]].js
  frontend/services/post.service.js
Labels: ✨Frontend, ⚡️feature

#62 [FE] 댓글 작성, 조회, 삭제 기능 구현
  frontend/components/Comment/CommentForm.js
  frontend/components/Comment/index.js
  frontend/components/Post/CommentForm.js
  frontend/components/Post/DetailPost.js
  frontend/services/post.service.js
Labels: ✨Frontend, ⚡️feature

#64 feat: 게시글, 댓글 API 스펙 변경
  backend/module-domain/src/main/java/com/project/cs/comment/response/CommentDto.java
  backend/module-domain/src/main/java/com/project/cs/post/response/PostDto.java
  backend/module-domain/src/main/java/com/project/cs/post/response/SimplePostDto.java
Labels: 📱Backend, ⚡️feature

#65 [FE} fix: 캔들스틱 차트 색상 변경
  frontend/components/CandleChart/Chart.js
Labels: ✨Frontend, 🔨fix

#66 fix: 게시글, 댓글 API 스펙 변경에 따른 수정
  frontend/components/Comment/index.js
  frontend/components/Post/DetailPost.js
  frontend/components/Post/index.js
Labels: ✨Frontend, 🔨fix

#67 fix: CommentDto에 id값 추가
  backend/module-domain/src/main/java/com/project/cs/comment/response/CommentDto.java
Labels: 📱Backend, 🔨fix

#69 fix: 댓글 삭제 오류 해결
  backend/module-domain/src/main/java/com/project/cs/comment/service/CommentService.java
Labels: 📱Backend, 🔨fix

#72 feat: 관심 기능 구현
  backend/module-application/src/main/java/com/project/cs/like/controller/LikeController.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CryptocurrencyRepository.java
  backend/module-domain/src/main/java/com/project/cs/like/entity/Like.java
  backend/module-domain/src/main/java/com/project/cs/like/repository/LikeRepository.java
  backend/module-domain/src/main/java/com/project/cs/like/repository/LikeRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/like/repository/LikeRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/like/response/LikeResponse.java
  backend/module-domain/src/main/java/com/project/cs/like/service/LikeService.java
Labels: 📱Backend, ⚡️feature

#73 feat: 투자 테스트 기능 구현
  backend/module-application/src/main/java/com/project/cs/test/controller/TestController.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/UpbitFeignClient.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CandleRepository.java
  backend/module-domain/src/main/java/com/project/cs/test/entity/Test.java
  backend/module-domain/src/main/java/com/project/cs/test/repository/TestRepository.java
  backend/module-domain/src/main/java/com/project/cs/test/repository/TestRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/test/repository/TestRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/test/request/TestRequest.java
  backend/module-domain/src/main/java/com/project/cs/test/request/TestSaveRequest.java
  backend/module-domain/src/main/java/com/project/cs/test/response/TestResponse.java
  backend/module-domain/src/main/java/com/project/cs/test/response/TestSaveResponse.java
  backend/module-domain/src/main/java/com/project/cs/test/service/TestService.java
Labels: 📱Backend, ⚡️feature

#74 feat: 비트코인 과거 시세 데이터 초기화 추가
  backend/module-application/src/main/java/com/project/cs/config/InitDb.java
  backend/module-application/src/main/resources/data/data.json
  backend/module-domain/src/main/java/com/project/cs/test/entity/Test.java
  backend/module-domain/src/main/java/com/project/cs/test/service/TestService.java
Labels: 📱Backend, ⚡️feature

#75 feat: 투자 테스트 기능 구현(#73)
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CandleRepository.java
Labels: 📱Backend, ⚡️feature

#76 [FE] 관심목록 기능 구현
  frontend/components/CandleChart/Likes.js
  frontend/components/CandleChart/index.js
  frontend/components/Ticker/Interest.js
  frontend/components/Ticker/List.js
  frontend/components/Ticker/Main.js
  frontend/components/Ticker/TickerTable.js
  frontend/components/likes/LikesList.jsx
Labels: ✨Frontend, ⚡️feature
