Repository yanglet/Cryptocurrency_Simulator, pull requests merged in 2022-08, with the labels that each got.

#78 fix: 파라미터 중복을 제거해서 해결
  backend/module-domain/src/main/java/com/project/cs/like/service/LikeService.java
Labels: 🐛bug, 📱Backend, 🔨fix

#80 feat: Market에 Id값 추가
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/Market.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CryptocurrencyRepository.java
Labels: 📱Backend, ⚡️feature

#82 feat: 비트코인 투자 테스트 기능 구현
  frontend/components/Sidebar.js
  frontend/components/Test/Test.jsx
  frontend/pages/testPage.js
Labels: ✨Frontend, ⚡️feature

#86 design: Navbar, Login 페이지 디자인 수정
  frontend/components/Common/Footer.jsx
  frontend/components/Common/MainLayout.jsx
  frontend/components/Common/Navbar.jsx
  frontend/components/User/LoginForm.js
  frontend/pages/login.js
Labels: ✨Frontend
