Repository yanglet/Cryptocurrency_Simulator, pull requests merged in 2022-11, with the labels that each got.

#139 Fix/frontend
  frontend/components/Balance/components/Balance.jsx
  frontend/components/Balance/components/List.jsx
  frontend/components/Balance/containers/BalanceContainer.jsx
  frontend/components/Trading/components/BuyForm.jsx
  frontend/components/Trading/components/SellForm.jsx
  frontend/components/Trading/components/Trading.jsx
  frontend/components/Trading/containers/TradingContainer.jsx
  frontend/contexts/Balance/index.js
  frontend/contexts/Price/index.js
  frontend/pages/exchange/[[...params]].js
Labels: ✨Frontend, 🔨fix

#140 fix: css 수정
  frontend/components/CandleChart/common/OptionBtn.jsx
  frontend/components/Common/Navbar.jsx
  frontend/components/Orders/components/CategorySelect.jsx
  frontend/components/Post/components/Btn.jsx
  frontend/components/cryptocurrency/components/CategorySelect.jsx
  frontend/components/rankingComponent/components/RankingList.jsx
  frontend/contexts/Member/index.js
Labels: ✨Frontend, 🔨fix

#144 refactor: 리팩토링
  backend/module-application/src/main/java/com/project/cs/auth/controller/AuthController.java
  backend/module-application/src/main/java/com/project/cs/comment/controller/CommentController.java
  backend/module-application/src/main/java/com/project/cs/config/EncoderConfig.java
  backend/module-application/src/main/java/com/project/cs/config/InitDb.java
  backend/module-application/src/main/java/com/project/cs/config/swagger/SwaggerConfig.java
  backend/module-application/src/main/java/com/project/cs/config/swagger/SwaggerRedirector.java
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CandleController.java
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CryptocurrencyController.java
  backend/module-application/src/main/java/com/project/cs/error/ApiExceptionHandler.java
  backend/module-application/src/main/java/com/project/cs/like/controller/LikeController.java
  backend/module-application/src/main/java/com/project/cs/member/controller/MemberController.java
  backend/module-application/src/main/java/com/project/cs/orderitem/controller/OrderItemController.java
  backend/module-application/src/main/java/com/project/cs/post/controller/PostController.java
  backend/module-application/src/main/java/com/project/cs/ranking/controller/RankingController.java
  backend/module-application/src/main/java/com/project/cs/security/auth/PrincipalDetails.java
  backend/module-application/src/main/java/com/project/cs/security/filter/CustomAuthenticationEntryPoint.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/JwtProvider.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/exception/TokenHasExpiredException.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/exception/TokenIsInvalidException.java
  backend/module-application/src/main/java/com/project/cs/test/controller/TestController.java
  backend/module-domain/src/main/java/com/project/cs/comment/entity/Comment.java
  backend/module-domain/src/main/java/com/project/cs/comment/repository/CommentRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/comment/service/CommentService.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/Market.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/UpbitFeignClient.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CandleRepository.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CryptocurrencyRepository.java
  backend/module-domain/src/main/java/com/project/cs/like/repository/LikeRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/like/service/LikeService.java
  backend/module-domain/src/main/java/com/project/cs/member/exception/InsufficientBalanceException.java
  backend/module-domain/src/main/java/com/project/cs/member/exception/MemberDuplicateException.java
  backend/module-domain/src/main/java/com/project/cs/member/exception/NotLoggedInException.java
  backend/module-domain/src/main/java/com/project/cs/member/exception/PasswordMismatchException.java
  backend/module-domain/src/main/java/com/project/cs/member/repository/MemberRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/member/service/MemberService.java
  backend/module-domain/src/main/java/com/project/cs/order/repository/OrderRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderService.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/service/OrderItemService.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/post/service/PostService.java
  backend/module-domain/src/main/java/com/project/cs/post/service/UploadFileUtils.java
  backend/module-domain/src/main/java/com/project/cs/ranking/service/RankingService.java
  backend/module-domain/src/main/java/com/project/cs/test/repository/TestRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/test/service/TestService.java
Labels: 📱Backend, 🎨refactor

#146 [FE] css 수정
  frontend/components/Balance/components/Balance.jsx
  frontend/components/Post/components/PostDetail.jsx
  frontend/components/Post/components/PostForm.jsx
Labels: ✨Frontend, 🔨fix

#148 Refactor/frontend 1
  frontend/components/Balance/components/Balance.jsx
  frontend/components/Balance/containers/BalanceContainer.jsx
  frontend/components/CandleChart/components/Chart.jsx
  frontend/components/CandleChart/components/Information.jsx
  frontend/components/Comment/containers/CommentContainers.jsx
  frontend/components/Common/MainLayout.jsx
  frontend/components/Like/components/LikeBtn.jsx
  frontend/components/Post/components/PostDetail.jsx
  frontend/components/Post/components/PostEdit.jsx
  frontend/components/Post/components/PostForm.jsx
  frontend/components/Post/containers/PostDetailContainers.jsx
  frontend/components/Post/containers/PostEditContainer.jsx
  frontend/components/Post/setting.js
  frontend/components/Trading/components/BuyForm.jsx
  frontend/components/Trading/components/SellForm.jsx
  frontend/components/User/UserProfile.js
  frontend/components/cryptocurrency/common/HoldingList.jsx
  frontend/components/cryptocurrency/common/List.jsx
  frontend/components/cryptocurrency/components/CategoryType.jsx
  frontend/components/cryptocurrency/components/index.jsx
  frontend/components/cryptocurrency/containers/CryptocurrenciesContainer.jsx
  frontend/components/cryptocurrency/containers/HoldingContainer.jsx
  frontend/components/rankingComponent/components/RankingList.jsx
  frontend/components/rankingComponent/containers/RankingContainer.jsx
  frontend/contexts/Balance/calculation.js
  frontend/contexts/Price/index.js
  frontend/pages/api/hello.js
  frontend/pages/member/profile.js
  frontend/services/auth.service.js
  frontend/services/post.service.js
  frontend/services/user.service.js
Labels: ✨Frontend, 🎨refactor

#149 fix: 소수점 버림
  frontend/components/Balance/components/Balance.jsx
Labels: ✨Frontend, 🔨fix

#150 fix: 소수점 자리 버리고 화폐 단위 표시
  frontend/components/Balance/components/Balance.jsx
  frontend/components/Balance/components/List.jsx
  frontend/components/Trading/components/BuyForm.jsx
Labels: ✨Frontend, 🔨fix

#153 [FE] 추가 기능 구현
  frontend/components/Trading/components/BuyForm.jsx
  frontend/components/Trading/components/RangeSlider.jsx
  frontend/components/Trading/components/SellForm.jsx
  frontend/components/User/SignUpForm.js
  frontend/package.json
Labels: ✨Frontend, ⚡️feature

#154 [FE] 추가 기능 구현
  frontend/components/Trading/components/BuyForm.jsx
  frontend/components/User/SignUpForm.js
  frontend/services/auth.service.js
Labels: ✨Frontend, 🔨fix
