Repository yanglet/Cryptocurrency_Simulator, pull requests merged in 2022-06, with the labels that each got.

#31 feat: 로그인 기능 구현
  backend/build.gradle
  backend/module-application/build.gradle
  backend/module-application/src/main/java/com/project/cs/auth/controller/AuthController.java
  backend/module-application/src/main/java/com/project/cs/config/EncoderConfig.java
  backend/module-application/src/main/java/com/project/cs/config/SecurityConfig.java
  backend/module-application/src/main/java/com/project/cs/member/controller/MemberController.java
  backend/module-application/src/main/java/com/project/cs/security/annotation/LoginMember.java
  backend/module-application/src/main/java/com/project/cs/security/auth/CustomPrincipalDetailsService.java
  backend/module-application/src/main/java/com/project/cs/security/auth/PrincipalDetails.java
  backend/module-application/src/main/java/com/project/cs/security/filter/CustomAuthenticationEntryPoint.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/JwtAuthenticationFilter.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/JwtProvider.java
  backend/module-application/src/main/resources/application.yml
  backend/module-domain/build.gradle
  backend/module-domain/src/main/java/com/project/cs/member/entity/Member.java
  backend/module-domain/src/main/java/com/project/cs/member/exception/MemberDuplicateException.java
  backend/module-domain/src/main/java/com/project/cs/member/repository/MemberRepository.java
  backend/module-domain/src/main/java/com/project/cs/member/request/SigninRequest.java
  backend/module-domain/src/main/java/com/project/cs/member/request/SignupRequest.java
  backend/module-domain/src/main/java/com/project/cs/member/response/MemberDto.java
  backend/module-domain/src/main/java/com/project/cs/member/response/SigninResponse.java
  backend/module-domain/src/main/java/com/project/cs/member/response/SignupResponse.java
  backend/module-domain/src/main/java/com/project/cs/member/service/MemberService.java
  backend/module-domain/src/main/java/com/project/cs/ranking/dto/RankingDto.java
  backend/module-domain/src/main/java/com/project/cs/ranking/entity/Ranking.java
Labels: 📱Backend, ⚡️feature

#33 feat: Swagger API 요청 파라미터 설명 추가
  backend/module-application/src/main/java/com/project/cs/auth/controller/AuthController.java
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CandleController.java
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CryptocurrencyController.java
  backend/module-application/src/main/java/com/project/cs/member/controller/MemberController.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/JwtProvider.java
  backend/module-domain/build.gradle
  backend/module-domain/src/main/java/com/project/cs/member/request/SignupRequest.java
Labels: 📱Backend, ⚡️feature

#35 feat: 게시글 API 구현
  backend/build.gradle
  backend/module-application/src/main/java/com/project/cs/post/controller/PostController.java
  backend/module-domain/build.gradle
  backend/module-domain/src/main/java/com/project/cs/comment/response/CommentDto.java
  backend/module-domain/src/main/java/com/project/cs/config/QuerydslConfig.java
  backend/module-domain/src/main/java/com/project/cs/member/response/MemberDto.java
  backend/module-domain/src/main/java/com/project/cs/post/entity/Post.java
  backend/module-domain/src/main/java/com/project/cs/post/entity/UploadFile.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepository.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/post/request/PostRequest.java
  backend/module-domain/src/main/java/com/project/cs/post/response/PostDto.java
  backend/module-domain/src/main/java/com/project/cs/post/response/PostResponse.java
  backend/module-domain/src/main/java/com/project/cs/post/response/SimplePostDto.java
  backend/module-domain/src/main/java/com/project/cs/post/service/PostService.java
  backend/module-domain/src/main/java/com/project/cs/post/service/UploadFileUtils.java
Labels: 📱Backend, ⚡️feature

#37 feat: 커뮤니티 댓글 API 구현
  backend/module-application/src/main/java/com/project/cs/comment/controller/CommentController.java
  backend/module-application/src/main/java/com/project/cs/post/controller/PostController.java
  backend/module-domain/src/main/java/com/project/cs/comment/entity/Comment.java
  backend/module-domain/src/main/java/com/project/cs/comment/repository/CommentRepository.java
  backend/module-domain/src/main/java/com/project/cs/comment/repository/CommentRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/comment/repository/CommentRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/comment/request/CommentRequest.java
  backend/module-domain/src/main/java/com/project/cs/comment/response/CommentDto.java
  backend/module-domain/src/main/java/com/project/cs/comment/response/CommentResponse.java
  backend/module-domain/src/main/java/com/project/cs/comment/service/CommentService.java
  backend/module-domain/src/main/java/com/project/cs/post/service/PostService.java
Labels: 📱Backend, ⚡️feature

#39 refactor: Member 엔티티의 Ranking 엔티티를 고아객체로 변경
  backend/module-domain/src/main/java/com/project/cs/member/entity/Member.java
  backend/module-domain/src/main/java/com/project/cs/member/service/MemberService.java
  backend/module-domain/src/main/java/com/project/cs/ranking/dto/RankingDto.java
  backend/module-domain/src/main/java/com/project/cs/ranking/entity/Ranking.java
  backend/module-domain/src/main/java/com/project/cs/ranking/repository/RankingRepository.java
Labels: 📱Backend, 🎨refactor

#44 feat: Spring AOP를 이용한 요청, 응답 로그 출력 기능 구현
  backend/module-application/src/main/java/com/project/cs/aop/aspect/LogAspect.java
  backend/module-application/src/main/java/com/project/cs/config/EncoderConfig.java
  backend/module-domain/src/main/java/com/project/cs/comment/repository/CommentRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/order/entity/Order.java
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderService.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/ranking/dto/RankingDto.java
Labels: 📱Backend, ⚡️feature

#46 fix: 거래 종료로 마켓 코드에서 라이트 코인 삭제
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/Market.java
Labels: 📱Backend, 🔨fix

#48 fix: 캔들 차트 API 스펙 변경
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CandleController.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/response/DayCandleResponse.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/response/MinuteCandleResponse.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/response/MonthCandleResponse.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/response/WeekCandleResponse.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CandleRepository.java
Labels: 📱Backend, 🔨fix

#50 feat: @RestControllerAdvice를 이용한 API 예외처리 구현
  backend/module-application/src/main/java/com/project/cs/error/ApiExceptionHandler.java
  backend/module-application/src/main/java/com/project/cs/error/ErrorResult.java
  backend/module-application/src/main/java/com/project/cs/member/controller/MemberController.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/JwtProvider.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/exception/TokenHasExpiredException.java
  backend/module-application/src/main/java/com/project/cs/security/jwt/exception/TokenIsInvalidException.java
  backend/module-common/src/main/java/com/project/cs/exception/ForbiddenException.java
  backend/module-common/src/main/java/com/project/cs/exception/NotFoundException.java
  backend/module-domain/src/main/java/com/project/cs/member/repository/MemberRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/member/repository/MemberRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepositoryImpl.java
Labels: 📱Backend, ⚡️feature

#51 [FE] 캔들 스틱 차트 구현
  frontend/components/BuySell/BuyForm.js
  frontend/components/CandleChart/CandleStick.js
  frontend/components/CandleChart/Chart.js
  frontend/components/CandleChart/ChartCode.js
  frontend/components/CandleChart/Data.js
  frontend/components/CandleChart/DayChart.js
  frontend/components/CandleChart/ex.js
  frontend/components/CandleChart/index.js
  frontend/components/Sidebar.js
  frontend/components/Ticker/Main.js
  frontend/components/Ticker/TickerTable.js
  frontend/components/Ticker/index.js
  frontend/pages/exchange/[[...params]].js
Labels: ✨Frontend, ⚡️feature

#53 [FE] 로그인, 회원가입 기능 구현
  frontend/components/Sidebar.js
  frontend/components/User/LoginForm.js
  frontend/components/User/SignUpForm.js
  frontend/components/User/UserProfile.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/index.js
  frontend/pages/login.js
  frontend/pages/profile.js
  frontend/services/auth-header.js
  frontend/services/auth.service.js
  frontend/services/user.service.js
  frontend/yarn.lock
Labels: ✨Frontend, ⚡️feature

#55 fix: 사용자 인증없이 게시글 작성되는 오류 해결
  backend/module-application/src/main/java/com/project/cs/order/controller/OrderController.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CryptocurrencyRepository.java
  backend/module-domain/src/main/java/com/project/cs/member/entity/Member.java
  backend/module-domain/src/main/java/com/project/cs/order/request/OrderRequest.java
  backend/module-domain/src/main/java/com/project/cs/order/response/OrderResponse.java
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderService.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/entity/OrderItem.java
  backend/module-domain/src/main/java/com/project/cs/post/service/PostService.java
Labels: 🐛bug, 📱Backend, 🔨fix
