Repository yanglet/Cryptocurrency_Simulator, pull requests merged in 2022-10, with the labels that each got.

#97 feat: 매도 매수 기능 추가
  backend/build.gradle
  backend/module-application/build.gradle
  backend/module-application/src/main/java/com/project/cs/CryptocurrencySimulatorApplication.java
  backend/module-application/src/main/java/com/project/cs/order/controller/OrderController.java
  backend/module-application/src/main/java/com/project/cs/orderitem/controller/OrderItemController.java
  backend/module-batch/build.gradle
  backend/module-batch/src/main/java/com/project/cs/job/order/OrderJobConfig.java
  backend/module-batch/src/main/java/com/project/cs/job/rank/RankingJobConfig.java
  backend/module-batch/src/main/java/com/project/cs/scheduler/JobScheduler.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/CryptocurrencyDto.java
  backend/module-domain/src/main/java/com/project/cs/member/entity/Member.java
  backend/module-domain/src/main/java/com/project/cs/order/entity/Order.java
  backend/module-domain/src/main/java/com/project/cs/order/repository/OrderRepository.java
  backend/module-domain/src/main/java/com/project/cs/order/repository/OrderRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/order/repository/OrderRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/order/request/OrderRequest.java
  backend/module-domain/src/main/java/com/project/cs/order/response/OrderDto.java
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderService.java
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderStatusConstants.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/entity/OrderItem.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepository.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/service/OrderItemService.java
  backend/settings.gradle
Labels: 📱Backend, ⚡️feature

#98 feat: 보유 자산 조회 api 구현
  backend/module-application/src/main/java/com/project/cs/order/controller/OrderController.java
  backend/module-application/src/main/java/com/project/cs/orderitem/controller/OrderItemController.java
  backend/module-domain/src/main/java/com/project/cs/order/response/OrderDto.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepository.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/response/Holdings.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/response/OrderItemDto.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/service/OrderItemService.java
Labels: 📱Backend, ⚡️feature

#99 feat: 랭킹 기능 구현
  backend/module-application/src/main/java/com/project/cs/ranking/controller/RankingController.java
  backend/module-batch/src/main/java/com/project/cs/job/rank/RankingJobConfig.java
  backend/module-batch/src/main/java/com/project/cs/scheduler/JobScheduler.java
  backend/module-domain/src/main/java/com/project/cs/comment/service/CommentService.java
  backend/module-domain/src/main/java/com/project/cs/like/service/LikeService.java
  backend/module-domain/src/main/java/com/project/cs/member/repository/MemberRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/member/repository/MemberRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/member/service/MemberService.java
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderService.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepository.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/post/service/PostService.java
  backend/module-domain/src/main/java/com/project/cs/ranking/dto/RankingDto.java
  backend/module-domain/src/main/java/com/project/cs/ranking/dto/RankingResponse.java
  backend/module-domain/src/main/java/com/project/cs/ranking/entity/Ranking.java
  backend/module-domain/src/main/java/com/project/cs/ranking/service/RankingService.java
  backend/module-domain/src/main/java/com/project/cs/test/service/TestService.java
Labels: 📱Backend, ✨Frontend

#102 feat: 이미지 업로드 기능 추가
  backend/module-application/src/main/java/com/project/cs/post/controller/PostController.java
  backend/module-domain/build.gradle
  backend/module-domain/src/main/java/com/project/cs/order/response/OrderDto.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/response/OrderItemDto.java
  backend/module-domain/src/main/java/com/project/cs/post/entity/Post.java
  backend/module-domain/src/main/java/com/project/cs/post/entity/UploadFile.java
  backend/module-domain/src/main/java/com/project/cs/post/exception/FileUploadException.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/UploadFileRepository.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/UploadFileRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/UploadFileRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/post/request/PostRequest.java
  backend/module-domain/src/main/java/com/project/cs/post/request/PostSaveRequest.java
  backend/module-domain/src/main/java/com/project/cs/post/response/PostDto.java
  backend/module-domain/src/main/java/com/project/cs/post/response/PostResponse.java
  backend/module-domain/src/main/java/com/project/cs/post/response/SimplePostDto.java
  backend/module-domain/src/main/java/com/project/cs/post/response/UploadFileDto.java
  backend/module-domain/src/main/java/com/project/cs/post/service/PostService.java
  backend/module-domain/src/main/java/com/project/cs/post/service/UploadFileUtils.java
  backend/module-domain/src/main/java/com/project/cs/ranking/dto/RankingDto.java
Labels: 📱Backend, ⚡️feature

#107 feat: 투자내역 기능 구현
  frontend/components/Orders/components/CategorySelect.jsx
  frontend/components/Orders/components/InvestmentsCategory.jsx
  frontend/components/Orders/components/List.jsx
  frontend/components/Orders/components/WaitList.jsx
  frontend/components/Orders/containers/OrdersContainers.jsx
  frontend/contexts/Order/index.js
  frontend/pages/config.js
  frontend/pages/investments/balance.js
  frontend/pages/investments/cancel_orders.js
  frontend/pages/investments/history.js
  frontend/pages/investments/wait_orders.js
Labels: ✨Frontend, ⚡️feature

#109 feat: 인덱스 추가
  backend/module-domain/src/main/java/com/project/cs/order/entity/Order.java
Labels: 📱Backend, ⚡️feature

#115 fix: 일부 레이아웃 수정
  frontend/components/Common/Navbar.jsx
  frontend/components/Exchange.js
  frontend/components/User/LoginForm.js
  frontend/components/User/UserProfile.js
  frontend/contexts/Member/index.js
  frontend/pages/_app.js
  frontend/pages/config.js
  frontend/pages/member/login.js
  frontend/pages/member/profile.js
  frontend/pages/member/signup.js
  frontend/pages/profile.js
  frontend/reducers/post.js
  frontend/services/user.service.js
Labels: ✨Frontend, ⚡️feature

#119 feat: 매도, 매수 비즈니스 로직 수정
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderService.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/entity/OrderItem.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepositoryImpl.java
Labels: 🐛bug, 📱Backend, 🔨fix

#121 feat: 매수 매도 기능 구현
  frontend/components/Trading/common/Form.jsx
  frontend/components/Trading/components/Trading.jsx
  frontend/components/Trading/containers/TradingContainer.jsx
Labels: ✨Frontend, ⚡️feature

#125 design: 프로젝트 디자인 변경
  frontend/components/Balance/components/List.jsx
  frontend/components/CandleChart/components/Chart.jsx
  frontend/components/CandleChart/components/Information.jsx
  frontend/components/CandleChart/containers/InformationContainer.jsx
  frontend/components/Common/Button.jsx
  frontend/components/Common/Intro.jsx
  frontend/components/Common/Introduce.jsx
  frontend/components/Common/MainLayout.jsx
  frontend/components/Common/Navbar.jsx
  frontend/components/Test/List.jsx
  frontend/components/Test/TestForm.jsx
  frontend/components/Test/components/TestForm.jsx
  frontend/components/Test/components/TestResult.jsx
  frontend/components/Test/containers/TestContainers.jsx
  frontend/components/Trading/containers/TradingContainer.jsx
  frontend/components/User/LoginForm.js
  frontend/components/User/SignUpForm.js
  frontend/components/cryptocurrency/common/List.jsx
  frontend/components/cryptocurrency/common/Tbody.jsx
  frontend/components/cryptocurrency/components/CategoryType.jsx
  frontend/components/cryptocurrency/components/index.jsx
  frontend/components/cryptocurrency/containers/CryptocurrenciesContainer.jsx
  frontend/contexts/Cryptocurrency/index.js
  frontend/pages/_app.js
  frontend/pages/exchange/[[...params]].js
  frontend/pages/index.js
  frontend/pages/member/login.js
  frontend/pages/member/signup.js
  frontend/pages/test.js
  frontend/public/images/mojalogo.png
Labels: ✨Frontend, ⚡️feature

#126 fix: 주문가능금액 수정
  frontend/components/Trading/containers/TradingContainer.jsx
Labels: ✨Frontend, ⚡️feature

#122 feat: 알림 체결 주문 목록 api 구현
  backend/module-application/src/main/java/com/project/cs/order/controller/OrderController.java
  backend/module-domain/src/main/java/com/project/cs/common/converter/BooleanToYnConverter.java
  backend/module-domain/src/main/java/com/project/cs/order/entity/Order.java
  backend/module-domain/src/main/java/com/project/cs/order/repository/OrderRepositoryCustom.java
  backend/module-domain/src/main/java/com/project/cs/order/repository/OrderRepositoryImpl.java
  backend/module-domain/src/main/java/com/project/cs/order/service/OrderService.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/entity/OrderItem.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/response/OrderItemDto.java
Labels: 📱Backend, ⚡️feature

#128 ㄹ좋아요 기능 수정
  frontend/components/Like/components/AddLike.jsx
  frontend/components/Like/components/LikeBtn.jsx
  frontend/components/Like/containers/AddLikeContainers.jsx
  frontend/components/Like/containers/LikeContainer.jsx
  frontend/components/cryptocurrency/common/Likes.jsx
  frontend/components/cryptocurrency/containers/LikesContainers.jsx
Labels: ✨Frontend, 🔨fix, ⚡️feature

#130 fix: 기타 수정
  frontend/components/Balance/components/List.jsx
  frontend/components/CandleChart/components/Information.jsx
  frontend/components/Common/Navbar.jsx
  frontend/components/Like/containers/LikeContainer.jsx
  frontend/contexts/CandleChart/index.js
  frontend/contexts/Cryptocurrency/index.js
  frontend/public/images/moja.png
Labels: ✨Frontend, 🔨fix, ⚡️feature

#132 feat: 투자내역 계산, 보유자산 수익률 계산
  frontend/components/Balance/components/Balance.jsx
  frontend/components/Balance/containers/BalanceContainer.jsx
  frontend/components/cryptocurrency/common/HoldingList.jsx
  frontend/components/cryptocurrency/common/HoldingTbody.jsx
  frontend/components/cryptocurrency/components/Holding.jsx
  frontend/components/cryptocurrency/containers/HoldingContainer.jsx
  frontend/contexts/Balance/calculation.js
  frontend/contexts/Balance/index.js
  frontend/pages/exchange/[[...params]].js
  frontend/pages/investments/balance.js
Labels: ✨Frontend, ⚡️feature

#134 fix: 투자내역 관련 수정
  frontend/components/Balance/components/Balance.jsx
  frontend/components/Balance/components/List.jsx
  frontend/components/Balance/containers/BalanceContainer.jsx
  frontend/components/CandleChart/components/Information.jsx
  frontend/components/cryptocurrency/common/HoldingTbody.jsx
  frontend/contexts/Balance/calculation.js
  frontend/contexts/Balance/index.js
  frontend/pages/investments/balance.js
Labels: ✨Frontend, 🔨fix

#136 Fix/etc
  frontend/components/Balance/components/Balance.jsx
  frontend/components/Balance/components/List.jsx
  frontend/components/Post/components/PostDetail.jsx
  frontend/components/Post/components/PostEdit.jsx
  frontend/components/Post/components/PostForm.jsx
  frontend/contexts/Balance/index.js
  frontend/package.json
Labels: ✨Frontend, 🔨fix
