Repository yanglet/Cryptocurrency_Simulator, pull requests merged in 2022-05, with the labels that each got.

#2 feat: 백엔드 프로젝트 세팅
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/module-application/build.gradle
  backend/module-application/src/main/java/com/project/cs/CryptocurrencySimulatorApplication.java
  backend/module-application/src/main/resources/application.yml
  backend/module-common/build.gradle
  backend/module-common/src/main/java/com/project/cs/test/test.java
  backend/module-domain/build.gradle
  backend/settings.gradle
Labels: 📱Backend, ⚡️featrue

#7 feat: entity를 생성한다
  backend/module-application/src/main/resources/application.yml
  backend/module-domain/src/main/java/com/project/cs/comment/entity/Comment.java
  backend/module-domain/src/main/java/com/project/cs/comment/repository/CommentRepository.java
  backend/module-domain/src/main/java/com/project/cs/like/entity/Like.java
  backend/module-domain/src/main/java/com/project/cs/like/repository/LikeRepository.java
  backend/module-domain/src/main/java/com/project/cs/member/entity/Member.java
  backend/module-domain/src/main/java/com/project/cs/member/repository/MemberRepository.java
  backend/module-domain/src/main/java/com/project/cs/order/entity/Order.java
  backend/module-domain/src/main/java/com/project/cs/order/repository/OrderRepository.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/entity/OrderItem.java
  backend/module-domain/src/main/java/com/project/cs/orderitem/repository/OrderItemRepository.java
  backend/module-domain/src/main/java/com/project/cs/post/entity/Post.java
  backend/module-domain/src/main/java/com/project/cs/post/repository/PostRepository.java
  backend/module-domain/src/main/java/com/project/cs/ranking/entity/Ranking.java
  backend/module-domain/src/main/java/com/project/cs/ranking/repository/RankingRepository.java
Labels: 📱Backend, ⚡️feature

#15 feat: 업비트 API를 이용한 가상화폐 레포지토리, 테스트 API 구현
  backend/build.gradle
  backend/module-application/src/main/java/com/project/cs/config/SecurityConfig.java
  backend/module-application/src/main/java/com/project/cs/config/WebConfig.java
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CryptocurrencyController.java
  backend/module-domain/build.gradle
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/CryptocurrencyDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/MarketDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/FeignConfig.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/Market.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/UpbitFeignClient.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CryptocurrencyRepository.java
  backend/module-domain/src/main/java/com/project/cs/member/entity/Member.java
Labels: 📱Backend, ⚡️feature

#16 [FE] 프로젝트 기본 세팅
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/components/AppLayout.js
  frontend/components/Exchange.js
  frontend/components/Sidebar.js
  frontend/components/Ticker/Holding.js
  frontend/components/Ticker/Interest.js
  frontend/components/Ticker/Main.js
  frontend/components/Ticker/TickerCategory.js
  frontend/components/Ticker/TickerTable.js
  frontend/components/Ticker/index.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/api/hello.js
  frontend/pages/community.js
  frontend/pages/exchange.js
  frontend/pages/index.js
  frontend/pages/test.js
  frontend/postcss.config.js
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: ✨Frontend, ⚡️feature, ⚙️setting

#17 feat: frontend 세팅, layout 변경
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/components/AppLayout.js
  frontend/components/Exchange.js
  frontend/components/Sidebar.js
  frontend/components/Ticker/Holding.js
  frontend/components/Ticker/Interest.js
  frontend/components/Ticker/Main.js
  frontend/components/Ticker/TickerCategory.js
  frontend/components/Ticker/TickerTable.js
  frontend/components/Ticker/index.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/api/hello.js
  frontend/pages/community.js
  frontend/pages/exchange.js
  frontend/pages/index.js
  frontend/pages/test.js
  frontend/postcss.config.js
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: ✨Frontend, ⚡️feature, ⚙️setting

#19 feat: swagger 적용
  backend/module-application/src/main/java/com/project/cs/config/swagger/SwaggerConfig.java
  backend/module-application/src/main/java/com/project/cs/config/swagger/SwaggerRedirector.java
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CryptocurrencyController.java
Labels: 📱Backend, ⚡️feature

#21 feat: Double형 필드의 지수표현 제거
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CryptocurrencyController.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/CryptocurrencyDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/Market.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/UpbitFeignClient.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CryptocurrencyRepository.java
Labels: 📱Backend, ⚡️feature

#23 fix: 가상화폐 api 스펙 변경
  backend/module-application/src/main/java/com/project/cs/CryptocurrencySimulatorApplication.java
  backend/module-application/src/main/java/com/project/cs/config/SecurityConfig.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/CryptocurrencyDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CryptocurrencyRepository.java
Labels: 📱Backend, 🔨fix

#26 [FE] 로그인, 회원가입 페이지 구현
  frontend/components/CandleChart/index.js
  frontend/components/Ticker/Main.js
  frontend/components/Ticker/index.js
  frontend/components/User/LoginForm.js
  frontend/components/User/SignUpForm.js
  frontend/components/User/UserProfile.js
  frontend/components/dd/Interest.js
  frontend/components/hooks/useInput.js
  frontend/pages/exchange.js
  frontend/pages/exchange/[[...params]].js
  frontend/pages/index.js
  frontend/pages/signup.js
Labels: ✨Frontend, ⚡️feature

#28 feat: 캔들 시세 조회 API 구현
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CandleController.java
  backend/module-application/src/main/java/com/project/cs/cryptocurrency/controller/CryptocurrencyController.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/DayCandleDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/MinuteCandleDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/MonthCandleDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/dto/candle/WeekCandleDto.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/feignclient/UpbitFeignClient.java
  backend/module-domain/src/main/java/com/project/cs/cryptocurrency/repository/CandleRepository.java
Labels: 📱Backend, ⚡️feature

#29 [FE] dummy data 이용한 캔들 스틱 차트 구현
  frontend/components/BuySell/BuyForm.js
  frontend/components/BuySell/BuyFormCategory.js
  frontend/components/BuySell/BuyFormTable.js
  frontend/components/BuySell/BuyPrice.js
  frontend/components/BuySell/SellForm.js
  frontend/components/BuySell/SellPrice.js
  frontend/components/BuySell/index.js
  frontend/components/CandleChart/CandleStick.js
  frontend/components/CandleChart/ChartCode.js
  frontend/components/CandleChart/Data.js
  frontend/components/CandleChart/DayChart.js
  frontend/components/CandleChart/ex.js
  frontend/components/CandleChart/index.js
  frontend/components/Ticker/Main.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.js
  frontend/yarn.lock
Labels: ✨Frontend, ⚡️feature
